@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-questrial);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.625rem;
    --background: oklch(0.985 0.005 95);
    --foreground: oklch(0.14 0.005 90);
    --card: oklch(88.887% 0.05429 70.616 / 0.55);
    --card-foreground: oklch(0.14 0.005 90);
    --popover: oklch(0.995 0.004 95);
    --popover-foreground: oklch(0.14 0.005 90);
    --primary: oklch(0.45 0.08 45);
    /* 
  oklch(0.7843 0.1212 106.68);
 */
    --primary-foreground: oklch(0.97 0.01 95);
    --secondary: oklch(0.92 0.01 90);
    --secondary-foreground: oklch(0.22 0.01 90);
    --muted: oklch(87.324% 0.08377 72.19 / 0.45);
    --muted-foreground: oklch(50.445% 0.02616 99.002);
    --accent: oklch(0.86 0.02 230);
    --accent-foreground: oklch(0.2 0.01 90);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(89.082% 0.10492 87.011);
    --input: oklch(0.9 0.01 90);
    --ring: oklch(0.62 0.06 230);
    --chart-1: oklch(0.55 0.1 45);
    --chart-2: oklch(0.62 0.05 230);
    --chart-3: oklch(0.42 0.03 250);
    --chart-4: oklch(0.75 0.04 90);
    --chart-5: oklch(0.68 0.06 35);
    --sidebar: oklch(0.97 0.005 95);
    --sidebar-foreground: oklch(0.14 0.005 90);
    --sidebar-primary: oklch(0.28 0.02 90);
    --sidebar-primary-foreground: oklch(0.97 0.01 95);
    --sidebar-accent: oklch(0.9 0.015 230);
    --sidebar-accent-foreground: oklch(0.2 0.01 90);
    --sidebar-border: oklch(0.88 0.01 90);
    --sidebar-ring: oklch(0.62 0.06 230);
}

.dark {
    --background: oklch(0.12 0.01 95);
    --foreground: oklch(0.93 0.01 95);
    --card: oklch(0.24 0.02 70);
    --card-foreground: oklch(0.92 0.01 95);
    --popover: oklch(0.16 0.01 95);
    --popover-foreground: oklch(0.92 0.01 95);
    --primary: oklch(0.65 0.08 45);
    --primary-foreground: oklch(0.14 0.01 95);
    --secondary: oklch(0.28 0.02 95);
    --secondary-foreground: oklch(0.92 0.01 95);
    --muted: oklch(0.28 0.02 70);
    --muted-foreground: oklch(0.82 0.02 27.256);
    --accent: oklch(0.32 0.03 230);
    --accent-foreground: oklch(0.93 0.01 95);
    --destructive: oklch(65% 0.2 27.325);
    --border: oklch(0.28 0.01 95);
    --input: oklch(0.24 0.01 95);
    --ring: oklch(0.55 0.05 230);
    --chart-1: oklch(0.6 0.1 45);
    --chart-2: oklch(0.62 0.05 230);
    --chart-3: oklch(0.7 0.04 90);
    --chart-4: oklch(0.58 0.08 35);
    --chart-5: oklch(0.52 0.03 250);
    --sidebar: oklch(0.16 0.01 95);
    --sidebar-foreground: oklch(0.92 0.01 95);
    --sidebar-primary: oklch(0.65 0.08 45);
    --sidebar-primary-foreground: oklch(0.14 0.01 95);
    --sidebar-accent: oklch(0.3 0.03 230);
    --sidebar-accent-foreground: oklch(0.93 0.01 95);
    --sidebar-border: oklch(0.28 0.01 95);
    --sidebar-ring: oklch(0.55 0.05 230);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
